@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300;400&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif;
}

.bucket {
	width: 60%;
	margin: auto;
	border: 1px solid #000000;
	margin-top: 50px;
}

.bucket h2 {
	text-align: center;
}

.card {
	width: 70%;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	border: 0.5px solid blue;
	position: relative;
}

.close {
	background-color: white;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 15%;
}

.bucket-header {
	position: relative;
}

.header-edit {
	position: absolute;
	right: 4vw;
}

.edit {
	background-color: white;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	right: 30px;
	top: 15%;
}

.form-data {
	width: 50%;
	margin: auto;
	margin-bottom: 15px;
	text-align: center;
	margin-left: 10vw;
}

.overall-topic {
	padding-bottom: 20px;
}

.form-submit {
	background-color: blue;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 4px;
	color: white;
	font-weight: 600;
	position: absolute;
	right: 8vw;
	bottom: 4vh;
}

.form {
	position: relative;
}

.card-topic {
	font-weight: bolder;
}
